<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Visual Basic(VBA and VBscript)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->  
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>PLC (Ladder, FBD, ST, SFC)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Matlab and Simulink</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>C/C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>SQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>HTML</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->

            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->



        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Software Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Elipse Scada</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Indusoft Web Studio</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
             <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Codesys </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>           
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Scada BR</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>

            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Tia Portal and STUDIO 5000</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->

            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Business Intelligence Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>MS Office </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span> Power BI</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Power Apps</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Flow Automate</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>

            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Access</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>

            <!--div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Power Bi</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div-->
            <!-- /.skillbar -->   
		</div>
 
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Microcontrollers Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Atmel (Arduino) </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="65%">
                <div class="skillbar-title"><span>ST</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>

            <!-- /.skillbar -->
        </div>



        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        


        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Classical Music</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Mountain Bike</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Aeromodelism and UAV's</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Portuguese (Native)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>French</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="65%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Lattes Platform</div>
            <div class="clear"></div>
        </div>
        <!--/.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="http://lattes.cnpq.br/8948507202264393">
            <span data-hover="Click here to see"><i class="glyphicon glyphicon-download-alt"></i> Curriculum Lattes  </span>
        </a>
        <!--/.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5> Process Data Management Intern <span class="duration"><i class="fa fa-calendar color"></i> Oct/2019 - now </span></h5>
                <h6><span class="fa fa-briefcase"></span> <a href="https://www.adm.com/"/ > Archer Daniels Midland Company (ADM)</a></h6>
                <p> Experience in the process of extraction, refining and packaging  of vegetable oil, treatment and acquisition of data from supervisory systems and process historians, implementation of SQL Server databases, support in projects improvements in industrial instrumentation.
                Critical analysis of production performance indicators, development of management tools for operational performance indicators, operational support in KPI's assessments. Collaboration in the OEE-TEEP global implementation. Member of  WPO-5S (Work and Place Organization) pillar, member of the PM (Planned Maintenance) pillar, supporting DEC (Daily Equipment Care) and leader of the "Maintenance Cost Management" competency.</p>
            </li>
            <li class="first">
                <h5> Beginner researcher <span class="duration"><i class="fa fa-calendar color"></i> 2018 - 2020 </span></h5>
                <h6><span class="fa fa-briefcase"></span> <a href="http://www.lasec.feelt.ufu.br"/ > Automation, Electronic Systems and Control Laboratory (LASEC)</a></h6>
                <p>He develops a research promoted by CNPq in the Laboratory of Automation, Electronic Systems and Control (LASEC). This fact allows him to improve his knowledge in the area of embedded systems, process modeling and control techniques, in order to complement his academic training. In addition, LASEC promotes events in the area of robotics, which has made it possible to acquire skills such as project management, leadership and autonomy.</p>
            </li>
            <li>
                <h5> Assistant of course  <span class="duration"><i class="fa fa-calendar color"></i> Apr/2019 - Aug/2019</span></h5>
                <h6><span class="fa fa-briefcase"></span> UFU - Faculty of Electrical Engineering </h6>
                <p><b>Modern Control Systems:</b> Teaching of MIMO(<i>multiple inputs and multiple outputs</i>) control techniques  such as LQR, LQG, Kalman filter and decoupling of multivariable systems.</p>
            </li>

            <li>
                <h5> Assistant of course  <span class="duration"><i class="fa fa-calendar color"></i> Aug/2018 - Dec/2018 </span></h5>
                <h6><span class="fa fa-briefcase"></span> UFU - Faculty of Electrical Engineering </h6>
                <p><b>Electromagnetism:</b> Teaching of fundamental concepts of electromagnetism, law enforcement, and assistance in resolution exercises</p>
            </li>

            <li>
                <h5> Assistant of course <span class="duration"><i class="fa fa-calendar color"></i> Mar/2018 - Jul/2018 </span></h5>
                <h6><span class="fa fa-briefcase"></span> UFU - Faculty of Electrical Engineering </h6>
                <p><b>Feedback Control Systems:</b> Teaching of PID control techniques for SISO systems and assistance in the correction of exercises.</p>
            </li>


        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5> Control and Automation Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2015 - now</span></h5>
                <h6><span class="fa fa-book"></span> Universidade Federal de Uberlândia</h6>
                <p>
                Undergraduate Course in control engineering and automation.
                Date of expected graduation: December 2020</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->

        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Professor reference</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
            <li class="clearfix">
                <img src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&id=K4770634A3" class="img_reference" width="100" height="100" alt="">
                <p>“I am Mr. Sousa's undergraduate research Advisor in the project 
                <i>Control of an autonomous flight unit for target chasing </i> . We have been working together for two years, since August 2017, with excellent results. He is hard working, selfless, competent and open-minded and certainly one of the best students I had the pleasure to work with.”</p>
                <span> <a href="http://lattes.cnpq.br/8844251698422960">Aniel S. Morais, Ph.D. Professor of Control Systems and Power Electronics </a> </span>
            </li>

        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->