<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">Microcontrollers</span></li>
            <li><span class="filter" data-filter="catGraphic">Crazyflie</span></li>
            <li><span class="filter" data-filter="catMotion">PLC Programming </span></li>
            <li><span class="filter" data-filter="logo">Supervisory System and Data Acquisition</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="assets/images/portfolio/1.jpg" rel="portfolio" title="This project aims to devellop an acquisition system through a Modbus Server.">
                        <img src="assets/images/portfolio/1.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Supervisory of a grain dryer plant</a>
                                <span class="text-category">Supervisory System and Data Acquisition</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
                <a href="http://www.lasec.feelt.ufu.br"/ > Click here to see the documentation! </a>
                <center>
                <p>A supervisory system aims to provide a high level operator interface with the process, in order to inform it of all the events carried out by the plant. In this context, the SCADA system aims to perform real-time monitoring of a plant as well as to build its operation history in order to reduce any process stops.</p></center>
            </div>		
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="assets/images/portfolio/2.jpg" rel="portfolio" title="This system performs registrations, then registers them in a database through an ODBC connection.">

                        <img src="assets/images/portfolio/2a.jpg" alt="Visual Infography" />

                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">System of Registration (database)</a>
                                
                                <span class="text-category">Supervisory System and Data Acquisition</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                    
                </div>
                <!-- /.portfolio-wrapper -->
                <a href="http://www.lasec.feelt.ufu.br"/ > Click here to see the documentation! </a>
                <p>In order to explore the concepts of database, this program developed in VBs <i>(Virtual Basic Script)</i> and finalized in HTA registers people and returns information regarding the attributes sent. </p>
            </div>      
            <!-- /.portfolio -->	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="assets/images/portfolio/3a.jpg" rel="portfolio" title="Through this project, it was possible to implement a monitoring system for sensors via the Internet. This, in addition to the low cost, made it possible to employ bare-metal programming in large part and, at the same time, to strengthen knowledge about the SPI communication protocol.">
                        <img src="assets/images/portfolio/3.jpg" alt="Sonor's Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">REMOTE MONITORING (IoT) </a>
                                <span class="text-category">Arduino</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <a href="https://github.com/gabrielfelipevs/MonitorRemoteIot_Bare_Metal"/ > Click here to see the documentation! </a>
                <center>
                <p>The internet has been changing our perception of the world. And the Internet of Things (IoT) has allowed and consolidated such modifications. Whether in corporate environments, industries and even homes, sensor control has become a reality in much of the world. Thus, due to the rapid development of equipment that connects via Internet, it becomes promising the implementation of autonomous remote control systems.</p></center>
                <!-- /.portfolio-wrapper -->
            </div>				
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="assets/images/portfolio/4a.jpg" rel="portfolio">
                        <img src="assets/images/portfolio/4.jpg" alt="Typography Company" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Flowmeter System</a>
                                <span class="text-category">STM 32</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
                <a href="https://github.com/gabrielfelipevs/FlowmeterSTM32"/ > Click here to see the documentation! </a>
                <p>This project was developed with the objective of integrating an industrial network protocol (RS485) with an automation system. The device is capable of counting up to 65365 liters, the system is operated via network or through the physical panel.</p>

            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/images/portfolio/5.jpg" title="Greenhouse Automated Using Microcontroller Arduino and Serial Communication." rel="portfolio">
                        <img src="assets/images/portfolio/5a.jpg" alt="Weatherette" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Greenhouse Automated</a>
                                <span class="text-category">Arduino</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
                <a href="https://www.peteletricaufu.com/static/ceel/doc/artigos/artigos2016/ceel2016_artigo156_r01.pdf"/ > Click here to read this article! </a>
                <p>This project intent to develop a prototype of a low-cost intelligent greenhouse that allows the producer to monitor and be informed about the situation of his plantation to optimize its development. The serial communication will allow the producer to enter the parameters that the micro controller should run.</p>
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="assets/images/portfolio/7a.jpg" title="This project presented the design of a PID controller of attitude of Crazyflie 2.0. The mathematical modeling of aircraft was the basis of the computational tests. A program in Python enabled the communication with the vehicle, in addition to ensuring the storage of information system." rel="portfolio">				
                        <img src="assets/images/portfolio/7.jpg" alt="Techlion" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Attitude Control</a>
                                <span class="text-category">Crazyflie</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <a href="https://www.peteletricaufu.com/static/ceel/doc/artigos/artigos2016/ceel2016_artigo156_r01.pdf"/ > Click here to read this article! </a>
                <p>This paper proposes the development of a system for the control of the orientation (roll, pitch and yaw angles) of an unmanned aerial vehicle (UAV), of the quadrotor type. This system has six degrees of freedom, being classified as an underactuated mechanical system. For simulation purposes, the mathematical modeling of the quadrotor Crazyflie 2.0 was based on Newton-Euler formalism. </p>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="assets/images/portfolio/8.jpg" rel="portfolio" title="In this work it was possible to implement the automation of the ore flotation process. The control algorithm was implemented in SFC language in the total of 20 steps, 5 digital input variables and an analog variable were used. The output variables result in a total of 14 variables, being 12 digital and 2 analog.">
                        <img src="assets/images/portfolio/8a.jpg" alt="KittyPic" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Automated Flotation Column</a>
                                <span class="text-category">SFC Language</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <a href="https://www.peteletricaufu.com/static/ceel/doc/artigos/artigos2016/ceel2016_artigo156_r01.pdf"/ > Click here to see the documentation! </a>
                <p>This work proposes the development of a system for the control of a flotation column pilot. The control was developed in a Siemens PLC (S7-1200), where the supervisory system also be made. </p>
                <!-- /.portfolio-wrapper -->
            </div>	

            <!-- /.portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="assets/images/portfolio/9.jpg" rel="portfolio" title="In this work it was possible to implement the automation of thebeverage manufacturing process. ">
                        <img src="assets/images/portfolio/9a.jpg" alt="KittyPic" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Beverage Manufacturing Process</a>
                                <span class="text-category">SFC and ST Language</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <a href="https://www.peteletricaufu.com/static/ceel/doc/artigos/artigos2016/ceel2016_artigo156_r01.pdf"/ > Click here to see the documentation! </a>
                <p>This work performs the automation of the beverage manufacturing process. The control algorithm was implemented using the SFC and ST language.</p>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- .portfolio -->
	
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->