<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">Arduino(Web Design)</span></li>
            <li><span class="filter" data-filter="catGraphic">(Graphic Design)</span></li>
            <li><span class="filter" data-filter="catMotion">STM 32 (Motion Graphic)</span></li>
            <li><span class="filter" data-filter="logo">Supervisory System and Data Acquisition</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="assets/images/portfolio/1.jpg" rel="portfolio" title="This project aims to devellop an acquisition system through a Modbus Server.">
                        <img src="assets/images/portfolio/1.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Supervisory of a grain dryer plant</a>
                                <span class="text-category">Supervisory System and Data Acquisition</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
                <a href="http://www.lasec.feelt.ufu.br"/ > Click here to see the documentation! </a>
                <center>
                <p>A supervisory system aims to provide a high level operator interface with the process, in order to inform it of all the events carried out by the plant. In this context, the SCADA system aims to perform real-time monitoring of a plant as well as to build its operation history in order to reduce any process stops.</p></center>
            </div>		
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="assets/images/portfolio/2.jpg" rel="portfolio" title="This system performs registrations, then registers them in a database through an ODBC connection.">

                        <img src="assets/images/portfolio/2a.jpg" alt="Visual Infography" />

                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">System of Registration (database)</a>
                                
                                <span class="text-category">Supervisory System and Data Acquisition</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                    
                </div>
                <!-- /.portfolio-wrapper -->
                <a href="http://www.lasec.feelt.ufu.br"/ > Click here to see the documentation! </a>
                <p>In order to explore the concepts of database, this program developed in VBs <i>(Virtual Basic Script)</i> and finalized in HTA registers people and returns information regarding the attributes sent. </p>
            </div>      
            <!-- /.portfolio -->	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="assets/images/portfolio/3a.jpg" rel="portfolio" title="Through this project, it was possible to implement a monitoring system for sensors via the Internet. This, in addition to the low cost, made it possible to employ bare-metal programming in large part and, at the same time, to strengthen knowledge about the SPI communication protocol.">
                        <img src="assets/images/portfolio/3.jpg" alt="Sonor's Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">REMOTE MONITORING (IoT) </a>
                                <span class="text-category">Arduino</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <a href="http://www.lasec.feelt.ufu.br"/ > Click here to see the documentation! </a>
                <center>
                <p>The internet has been changing our perception of the world. And the Internet of Things (IoT) has allowed and consolidated such modifications. Whether in corporate environments, industries and even homes, sensor control has become a reality in much of the world. Thus, due to the rapid development of equipment that connects via Internet, it becomes promising the implementation of autonomous remote control systems.</p></center>
                <!-- /.portfolio-wrapper -->
            </div>				
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="assets/images/portfolio/4a.jpg" rel="portfolio">
                        <img src="assets/images/portfolio/4.jpg" alt="Typography Company" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Flowmeter System</a>
                                <span class="text-category">STM 32</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
                <a href="http://www.lasec.feelt.ufu.br"/ > Click here to see the documentation! </a>
                <p>This project was developed with the objective of integrating an industrial network protocol (RS485) with an automation system. The device is capable of counting up to 65365 liters, the system is operated via network or through the physical panel.</p>

            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/images/portfolio/5a.jpg" title="Greenhouse Automated Using Microcontroller Arduino and Serial Communication." rel="portfolio">
                        <img src="assets/images/portfolio/5a.jpg" alt="Weatherette" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Greenhouse Automated</a>
                                <span class="text-category">Arduino</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/6.jpg" rel="portfolio">				
                        <img src="images/portfolio/6.jpg" alt="BMF" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Motion Graphic</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/7.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="portfolio">				
                        <img src="images/portfolio/7.jpg" alt="Techlion" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Graphic Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/8.jpg" rel="portfolio" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien.">
                        <img src="images/portfolio/8.jpg" alt="KittyPic" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
	
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->